<h1>Listing targets</h1>

<table>
  <tr>
    <th>Iqcid</th>
    <th>Datetimevalid</th>
    <th>Notes</th>
    <th>Testcode</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @targets.each do |target| %>
  <tr>
    <td><%= target.IQCID %></td>
    <td><%= target.dateTimeValid %></td>
    <td><%= target.notes %></td>
    <td><%= target.testCode %></td>
    <td><%= link_to 'Show', target %></td>
    <td><%= link_to 'Edit', edit_target_path(target) %></td>
    <td><%= link_to 'Destroy', target, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Target', new_target_path %>
