<h2>Change Log</h2>

<%= link_to 'Clear Log', {:controller => :change_loggings, :action => :deleteall}, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %>
<hr>
<table class="table table-bordered table-striped table-condensed table-hover">
<thead>
  <tr>
    <th>Log Date/Time</th>
    <th>Record</th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @change_loggings.each do |change_logging| %>
  <tr>
    <td><%= change_logging.created_at %></td>
    <td><%= change_logging.logRecord %></td>
    <td><%= link_to 'Destroy', change_logging, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small"  %></td>
  </tr>
<% end %>
</tbody>
</table>

<br />

<%= link_to 'New Change logging', new_change_logging_path, :class =>"btn btn-primary" %>
