<%= form_for(@eqa) do |f| %>
  <% if @eqa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@eqa.errors.count, "error") %> prohibited this eqa from being saved:</h2>

      <ul>
      <% @eqa.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :testCode %><br />
    <%= f.text_field :testCode %>
  </div>
  <div class="field">
    <%= f.label :scheme %><br />
    <%= f.text_field :scheme %>
  </div>
  <div class="field">
    <%= f.label :bias %><br />
    <%= f.text_field :bias %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :dateTime %><br />
    <%= f.datetime_select :dateTimeCreated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
