<h2>Listing EQAS Datapoints</h2>

<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
</br>
	<% if @eqas_by_date[date] %>
        <% @eqas_by_date[date].each do |eqa| %>
         <small> <%= link_to TestCode.find(eqa.test_code_id).testExpansion, eqa %>:</small>
        <% end %>
    <% end %>
  <% end %>
</div>
<hr>
<table class="table table-bordered table-striped table-condensed table-hover">
<thead>
  <tr>
    <th>Test Name</th>
    <th>EQA Scheme</th>
    <th>Analyser</th>
    <th>% Bias</th>
    <th>Notes</th>
    <th>Date of EQA</th>
    <th></th>	
    <th></th>
    <th></th>
  </tr>
</thead>
<tbody>
<% @eqas.each do |eqa| %>

  <tr>
    <td><%= render 'common/test_code_id', :object => eqa.test_code_id %></td>
    <td><%= render 'common/eqascheme', :object => eqa.eqa_scheme_id %></td>
    <td><%= render 'common/analyser', :object => eqa.analyser_id  %></td>
    <td><%= eqa.bias %></td>
    <td><%= eqa.notes %></td>
    <td><%= eqa.dateOfEQA.to_formatted_s(:long) %></td>
    <td><%= link_to 'Show', eqa, :class => "btn btn-info btn-small" %></td>
    <td><%= link_to 'Edit', edit_eqa_path(eqa), :class => "btn btn-primary btn-small" %></td>
    <td><%= link_to 'Destroy', eqa, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</tbody>
</table>

<%= link_to 'New EQA Record', new_eqa_path, :class => "btn btn-primary" %></td>