<h2>Listing EQAS Datapoints</h2>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Test Name</th>
    <th scope="col" class="rounded-company">EQA Scheme</th>
    <th scope="col" class="rounded-company">Bias</th>
    <th scope="col" class="rounded-company">Notes</th>
    <th scope="col" class="rounded-company">Date time created</th>
    <th scope="col" class="rounded-company"></th>
    <th scope="col" class="rounded-company"></th>
    <th scope="col" class="rounded-company"></th>
  </tr>

<% @eqas.each do |eqa| %>

  <tr>
    <td><%= render 'common/test_code_id', :object => eqa.test_code_id %></td>
    <td><%= render 'common/eqascheme', :object => eqa.eqa_scheme_id %></td>
    <td><%= eqa.bias %></td>
    <td><%= eqa.notes %></td>
    <td><%= eqa.created_at %></td>
    <td><%= link_to 'Show', eqa %></td>
    <td><%= link_to 'Edit', edit_eqa_path(eqa) %></td>
    <td><%= link_to 'Destroy', eqa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Eqa', new_eqa_path %>
