<h2>Listing EQAS Datapoints</h2>

<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
</br>
	<% if @eqas_by_date[date] %>
        <% @eqas_by_date[date].each do |eqa| %>
         <small> <%= link_to TestCode.find(eqa.test_code_id).testExpansion, eqa %>:</small>
        <% end %>
    <% end %>
  <% end %>
</div>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Test Name</th>
    <th scope="col" class="rounded-company">EQA Scheme</th>
    <th scope="col" class="rounded-q1">Analyser</th>
    <th scope="col" class="rounded-company">% Bias</th>
    <th scope="col" class="rounded-company">Notes</th>
    <th scope="col" class="rounded-company">Date of EQA</th>
    <th scope="col" class="rounded-company"></th>
    <th scope="col" class="rounded-company"></th>
    <th scope="col" class="rounded-company"></th>
  </tr>

<% @eqas.each do |eqa| %>

  <tr>
    <td><%= render 'common/test_code_id', :object => eqa.test_code_id %></td>
    <td><%= render 'common/eqascheme', :object => eqa.eqa_scheme_id %></td>
    <td><%= render 'common/analyser', :object => eqa.analyser_id  %></td>
    <td><%= eqa.bias %></td>
    <td><%= eqa.notes %></td>
    <td><%= eqa.dateOfEQA.to_formatted_s(:long) %></td>
    <td><%= link_to 'Show', eqa %></td>
    <td><%= link_to 'Edit', edit_eqa_path(eqa) %></td>
    <td><%= link_to 'Destroy', eqa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to "New EQA Record", {:action => "new"}, {:method => :get } %>