<p id="notice"><%= notice %></p>

<p>
  <b>Testcode:</b>
  <%= render 'common/test_code_id', :object => @eqa.test_code_id %>
</p>

<p>
  <b>Scheme:</b>
  <%= render 'common/eqascheme', :object => @eqa.eqa_scheme_id %>
</p>

<p>
  <b>Bias:</b>
  <%= @eqa.bias %>
</p>

<p>
  <b>Notes:</b>
  <%= @eqa.notes %>
</p>



<%= link_to 'Edit', edit_eqa_path(@eqa) %> |
<%= link_to 'Back', eqas_path %>
