<%= form_for(@iqc_datum) do |f| %>
  <% if @iqc_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iqc_datum.errors.count, "error") %> prohibited this iqc_datum from being saved:</h2>

      <ul>
      <% @iqc_datum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
  <%= select("iqc_datum", "test_code_id", TestCode.all.collect {|p| [ p.testExpansion, p.id ] }, {:include_blank => 'None'}) %>

  </div>
  
  <div class="field">
  <%= select("iqc_datum", "iqc_id", Iqc.all.collect {|p| [ p.name, p.id ] }, {:include_blank => 'None'}) %>

  </div>
  
  <div class="field">
    <%= f.label :dataID %><br />
    <%= f.text_field :dataID %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :dateTimeCreated %><br />
    <%= f.datetime_select :dateTimeCreated %>
  </div>
  <div class="field">
    <%= f.label :result %><br />
    <%= f.text_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
