<h1>Listing IQC Data Points</h1>
<div class="row">
	<div class="span4">
		<span class="label label-info">	There are results on the following QC Lots</span>
			<% @qc_lots.each do |lot| %>
			<%= link_to Iqc.find(lot.iqc_id).name, iqc_data_show_iqc_material_view_path(:iqc_id => lot.iqc_id) %>
				</br>
			<%end%>

	</div>
	<div class="span4">
			<span class="label label-info">	There are results on the following Analysers</span>
			<% @analyser_results.each do |analyser| %>
			<%= link_to Analyser.find(analyser.analyser_id).AnalyserName, iqc_data_show_analyser_path(:analyser_id => analyser.analyser.id) %>
				</br>
			<%end%>

	</div>
	<div class="span4">
			<span class="label label-info">	There are results on the following Tests</span>
			<% @test_results.each do |test| %>
				<%= link_to TestCode.find(test.test_code_id).testCodeText, iqc_data_show_test_view_path(:test_code_id => test.test_code_id) %>
			,
			<%end%>
			</div>
	</div>
</div>
<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
</br>
	<i class="icon-folder-open"></i>
	<% if @iqc_by_date[date] %>
          <span class="badge badge-success">IQC</span>
    <% end %>
  <% end %>
</div>
<hr>

<%= link_to 'New IQC Data point', new_iqc_datum_path, :class => "btn btn-primary" %></td>
