<h1>Listing IQC Data Points</h1>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Telepath Test Code</th>
    <th scope="col" class="rounded-q1">Notes</th>
    <th scope="col" class="rounded-q1">IQC Material</th>
    <th scope="col" class="rounded-q1">Analyser</th>
    <th scope="col" class="rounded-q1">Date /Time of IQC</th>
    <th scope="col" class="rounded-q1">Result</th>
    <th scope="col" class="rounded-q1">Date record created</th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
  </tr>
</thead>

<tfoot>
    	<tr>
        	<td colspan="8" class="rounded-foot-left"><em>IQC management functions</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>

<% @iqc_data.each do |iqc_datum| %>
  <tr>
    <td><%= render 'common/test_code_id', :object => iqc_datum.test_code_id %></td>
    <td><%= iqc_datum.notes %></td>
    
    <td><%= render 'common/iqcmaterial', :object => iqc_datum.iqc_id %></td>
    <td><%= render 'common/analyser', :object => iqc_datum.analyser_id  %></td>
    
    <td><%= iqc_datum.dateOfIQC %></td>
    <td><%= iqc_datum.result %></td>
    <td><%= iqc_datum.created_at %></td>
    <td><%= link_to 'Show', iqc_datum %></td>
    <td><%= link_to 'Edit', edit_iqc_datum_path(iqc_datum) %></td>
    <td><%= link_to 'Destroy', iqc_datum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iqc datum', new_iqc_datum_path %>
