<h1>Listing IQC Data Points</h1>



<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
</br>
	<i class="icon-folder-open"></i>
	<% if @iqc_by_date[date] %>
          <span class="badge badge-success">IQC</span>
    <% end %>
  <% end %>
</div>
<hr>
<table class="table table-bordered table-striped table-condensed table-hover">
<thead>
  <tr>
    <th>Telepath Test Code</th>
    <th>Notes</th>
    <th>IQC Material</th>
    <th>Analyser</th>
    <th>Date /Time of IQC</th>
    <th>Result</th>
	<th>Used in Calculation of Sigma?</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tbody>
<% @iqc_data.each do |iqc_datum| %>
  <tr>
    <td><%= render 'common/test_code_id', :object => iqc_datum.test_code_id %></td>
    <td><%= iqc_datum.notes %></td>
    
    <td><%= render 'common/iqcmaterial', :object => iqc_datum.iqc_id %></td>
    <td><%= render 'common/analyser', :object => iqc_datum.analyser_id  %></td>
    
    <td><%= iqc_datum.dateOfIQC.to_formatted_s(:long) %></td>
    <td><%= iqc_datum.result %></td>
	<td><% if iqc_datum.usedInCalculation == 1%>
			Yes	</td>
		<% else %>
			No	</td>
		<% end%>
    <td><%= link_to 'Show', iqc_datum, :class => "btn btn-info btn-small" %></td>
    <td><%= link_to 'Edit', edit_iqc_datum_path(iqc_datum), :class => "btn btn-primary btn-small" %></td>
    <td><%= link_to 'Destroy', iqc_datum, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</tbody>
</table>
<%= link_to 'New IQC Data point', new_iqc_datum_path, :class => "btn btn-primary" %></td>
