<p id="notice"><%= notice %></p>

<p>
	<%= render 'common/test_code_id', :object => @iqc_datum.test_code_id %>
</p>
<p>
<b>Notes:</b>
  <%= @iqc_datum.notes %>
</p>

<p>
  <b>Created at:</b>
  <%= @iqc_datum.created_at %>
</p>

<p>
  <b>Result:</b>
  <%= @iqc_datum.result %>
</p>


<%= link_to 'Edit', edit_iqc_datum_path(@iqc_datum) %> |
<%= link_to 'Back', iqc_data_path, :class=>"btn btn-inverse" %>
