<% unless @iqc_data.nil? || @iqc_data == []%>
	Statistics for: <%= @testname.testCodeText%></br>
	Mean Value = <%= @mean%></br>
	Median Value = <%= @median%></br>
	SD = <%= @sd %></br>
	Min = <%= @min%></br>
	Max = <%= @max%></br>	
	%CV = <%= @cv %> 
	<% if @quality_specification.empty? != true %>
		<% if @cv < @quality_specification[0].allowableCVoptimal %>
			<div class="alert alert-success">
				%CV < than allowable minimum specification of: <%=@quality_specification[0].allowableCVoptimal %>
			</div>
		<%else%>
			<div class="alert alert-error">
	%CV > than allowable minimum specification of: <%=@quality_specification[0].allowableCVoptimal%>
			</div>
		<%end%>
	<%else%>
		<span class="label label-warning">No Quality Specification Set</br>
			</span>
			<%= link_to "Create one now", new_quality_specification_path %>
			
		
	<%end%>
	</br>
	<%= render_chart(@chart, 'chart') %>
	<div id='chart'></div>
	<%= render_chart(@chart2, 'chart2') %>
	<div id='chart2'></div>
<%else%>
No IQC results for that test on that analyser using that IQC material
<%end%>
