<h2>Listing analysers</h2>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Analyser Name</th>
    <th scope="col" class="rounded-q1">Analyser Notes</th>
    <th scope="col" class="rounded-q2">Analyser Location</th>
    <th scope="col" class="rounded-q2">Created Date/Time</th>
    <th scope="col" class="rounded-q2">Editing</th>
    <th scope="col" class="rounded-q2"></th>
    <th scope="col" class="rounded-q2"></th>
  </tr>
</thead>

<tfoot>
    	<tr>
        	<td colspan="6" class="rounded-foot-left"><em>Analyser management functions</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>

<% @analysers.each do |analyser| %>
  <tr>
    <td><%= analyser.AnalyserName %></td>
    <td><%= analyser.AnalyserNote %></td>
    <td><%= analyser.AnalyserLocation %></td>
    <td><%= analyser.created_at %></td>
    <td><%= link_to 'Show', analyser %></td>
    <td><%= link_to 'Edit', edit_analyser_path(analyser) %></td>
    <td><%= link_to 'Destroy', analyser, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />
<%= button_to "New Analyser", {:action => "new"}, {:method => :get } %>

