<h2>Listing analysers</h2>

<table class="table table-bordered table-striped table-condensed table-hover">
<thead>
  <tr>
    <th>Analyser Name</th>
    <th scope="col" class="rounded-q1">Analyser Notes</th>
    <th scope="col" class="rounded-q2">Analyser Location</th>
    <th scope="col" class="rounded-q2">Created Date/Time</th>
    <th scope="col" class="rounded-q2">Editing</th>
    <th scope="col" class="rounded-q2"></th>
    <th scope="col" class="rounded-q2"></th>
  </tr>
</thead>

<tfoot>
    	<tr>
        	<td colspan="6" class="rounded-foot-left"><em>Analyser management functions</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>

<% @analysers.each do |analyser| %>
  <tr>
    <td><%= analyser.AnalyserName %></td>
    <td><%= analyser.AnalyserNote %></td>
    <td><%= analyser.AnalyserLocation %></td>
    <td><%= analyser.created_at %></td>
    <td><%= link_to 'Show', analyser, :class => "btn btn-primary btn-small" %></td>
    <td><%= link_to 'Edit', edit_analyser_path(analyser), :class => "btn btn-info btn-small" %></td>
    <td><%= link_to 'Destroy', analyser, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</table>

<%= link_to 'New Analyser', new_analyser_path, :class => "btn btn-primary" %></td>

