<%= form_for(@iqc) do |f| %>
  <% if @iqc.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@iqc.errors.count, "error") %> prohibited this iqc from being saved:</h2>

      <ul>
      <% @iqc.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Assigned ID<br />
    <%= f.text_field :IQCID %>
  </div>
  <div class="field">
    IQC Material Name<br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :manufacturer %><br />
    <%= f.text_field :manufacturer %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :assigned %><br />
    <%= f.text_field :assigned %>
  </div>
  <div class="field">
    Date Active<br />
    <%= f.date_select :dateTimeCreated %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
