<h2>Listing IQC Materials</h2>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Material Name</th>
    <th scope="col" class="rounded-q1">Manufacturer</th>
    <th scope="col" class="rounded-q1">Notes</th>
    <th scope="col" class="rounded-q1">Assigned or Calculated Values</th>
    <th scope="col" class="rounded-q1">Date record created</th>
    <th scope="col" class="rounded-q1">Date record updated</th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
  </tr>
</thead>

<tfoot>
    	<tr>
        	<td colspan="8" class="rounded-foot-left"><em>IQC management functions</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>


<% @iqc.each do |iqc| %>
  <tr>
    <td><%= iqc.name %></td>
    <td><%= iqc.manufacturer %></td>
    <td><%= iqc.notes %></td>
    <td><%= iqc.assigned %></td>
    <td><%= iqc.created_at %></td>
    <td><%= iqc.updated_at %></td>
    <td><%= link_to 'Show', iqc %></td>
    <td><%= link_to 'Edit', edit_iqc_path(iqc) %></td>
    <td><%= link_to 'Destroy', iqc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iqc', new_iqc_path %>
