<h1>Listing iqcs</h1>

<table>
  <tr>
    <th>Iqcid</th>
    <th>Name</th>
    <th>Manufacturer</th>
    <th>Notes</th>
    <th>Assigned</th>
    <th>Datetime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @iqcs.each do |iqc| %>
  <tr>
    <td><%= iqc.IQCID %></td>
    <td><%= iqc.name %></td>
    <td><%= iqc.manufacturer %></td>
    <td><%= iqc.notes %></td>
    <td><%= iqc.assigned %></td>
    <td><%= iqc.datetimecreated %></td>
    <td><%= link_to 'Show', iqc %></td>
    <td><%= link_to 'Edit', edit_iqc_path(iqc) %></td>
    <td><%= link_to 'Destroy', iqc, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Iqc', new_iqc_path %>
