<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @iqc.name %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @iqc.manufacturer %>
</p>

<p>
  <b>Notes:</b>
  <%= @iqc.notes %>
</p>

<p>
  <b>Assigned:</b>
  <%= @iqc.assigned %>
</p>

<p>
  <b>Record Created:</b>
  <%= @iqc.created_at %>
</p>


<%= link_to 'Edit', edit_iqc_path(@iqc) %> |
<%= link_to 'Back', iqcs_path %>
