<%= form_for(@sigma) do |f| %>
  <% if @sigma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sigma.errors.count, "error") %> prohibited this sigma from being saved:</h2>

      <ul>
      <% @sigma.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
<%= select("sigma", "test_code_id", TestCode.all.collect {|p| [ p.testExpansion, p.id ] }, {:include_blank => 'None'}) %>
  </div>
  <div class="field">
    Calculated Sigma Score<br />
    <%= f.text_field :sigma %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
