<h2>Debugging Sigma Calculations :::: to be deleted in completed application</h2>



<%= @calculationDate.created_at %>, <%= @calculationDate.logRecord %><br>

<%= debug @calcsigmas %>
<%= debug @testname %>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Notes</th>
    <th scope="col" class="rounded-q1">Date Time Created</th>
    <th scope="col" class="rounded-q1">Result</th>

<% @iqcs.each do |iqc| %>
<tr>
    <td><%= iqc.notes %></td>
    <td><%= iqc.dateOfIQC %></td>
    <td><%= iqc.result %></td>
</tr>
<% end %>
</table>


<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Notes</th>
    <th scope="col" class="rounded-q1">Date Time Created</th>
    <th scope="col" class="rounded-q1">Result</th>

<% @eqas.each do |eqa| %>
<tr>
    <td><%= eqa.notes %></td>
    <td><%= eqa.dateOfEQA %></td>
    <td><%= eqa.bias %></td>
</tr>
<% end %>
</table>