<h2>Listing Sigma Scores Currently Calculated</h2>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Test Name</th>
    <th scope="col" class="rounded-q1">Date of QC used</th>
    <th scope="col" class="rounded-q1">QC CV Used</th>
    <th scope="col" class="rounded-q1">EQA BIAS Result</th>
	<th scope="col" class="rounded-q1">Date of EQA Result</th>
	<th scope="col" class="rounded-q1">Allowable Optimal CV</th>
	<th scope="col" class="rounded-q1">Allowable Desirable CV</th>
	<th scope="col" class="rounded-q1">Allowable Minimum CV</th>
	<th scope="col" class="rounded-q1">Allowable Optimal BIAS</th>
	<th scope="col" class="rounded-q1">Allowable Desirable BIAS</th>
	<th scope="col" class="rounded-q1">Allowable Minimum BIAS</th>
	<th scope="col" class="rounded-q1">Optimal TE</th>
	<th scope="col" class="rounded-q1">Desirable TE</th>
	<th scope="col" class="rounded-q1">Minimum TE</th>
	<th scope="col" class="rounded-q1">Sigma Optimal</th>
	<th scope="col" class="rounded-q1">Sigma Desirable</th>
	<th scope="col" class="rounded-q1">Sigma Minimum</th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
  </tr>
</thead>

<tfoot>
    	<tr>
        	<td colspan="6" class="rounded-foot-left"><em>IQC management functions</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>


<% @sigmas.each do |sigma| %>
  <tr>
    <td><%= sigma.testname %></td>
    <td><%= sigma.dateOfQC %></td>
    <td><%= sigma.qcresult %></td>
    <td><%= sigma.eqaresult %></td>
    <td><%= sigma.dateOfEQA %></td>
    <td><%= sigma.allowableCVoptimal %></td>
    <td><%= sigma.allowableCVdesirable %></td>
    <td><%= sigma.allowableCVminimum %></td>
    <td><%= sigma.allowableBIASoptimal %></td>
    <td><%= sigma.allowableBIASdesirable %></td>
    <td><%= sigma.allowableBIASminimum %></td>
    <td><%= sigma.optimalTE %></td>
    <td><%= sigma.desirableTE %></td>
    <td><%= sigma.minimumTE %></td>
    <td><%= sigma.sigmaScoreOptimal %></td>
    <td><%= sigma.sigmaScoreDesirable %></td>
    <td><%= sigma.sigmaScoreMinimum %></td>

    <td><%= link_to 'Show', sigma %></td>
    <td><%= link_to 'Edit', edit_sigma_path(sigma) %></td>
    <td><%= link_to 'Destroy', sigma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to "New Sigma (Manual Entry)", {:action => "new"}, {:method => :get } %>
