<h2>Listing Sigma Scores Currently Calculated</h2>

<div id="articles">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
  <%= calendar @date do |date| %>
    <%= date.day %>
</br>
	<% if @sigmas_by_date[date] %>
        <% @sigmas_by_date[date].each do |sigma| %>
          <small><%= link_to TestCode.find(sigma.test_code_id).testExpansion, sigma %>:</small>
        <% end %>
    <% end %>
  <% end %>
</div>

<table id="rounded-corner">
<thead>
  <tr>
    <th scope="col" class="rounded-company">Test Name</th>
    <th scope="col" class="rounded-q1">Date of QC used</th>
    <th scope="col" class="rounded-q1">QC CV Used</th>
    <th scope="col" class="rounded-q1">EQA BIAS Result</th>
	<th scope="col" class="rounded-q1">Date of EQA Result</th>
	<th scope="col" class="rounded-q1">Sigma Optimal</th>
	<th scope="col" class="rounded-q1">Sigma Desirable</th>
	<th scope="col" class="rounded-q1">Sigma Minimum</th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
    <th scope="col" class="rounded-q1"></th>
  </tr>
</thead>

<tfoot>
    	<tr>
        	<td colspan="6" class="rounded-foot-left"><em>IQC management functions</em></td>
        	<td class="rounded-foot-right">&nbsp;</td>
        </tr>
    </tfoot>


<% @sigmas.each do |sigma| %>
  <tr>
    <td><%= sigma.testname %></td>
    <td><%= sigma.dateOfQC %></td>
    <td><%= sigma.qcresult %></td>
    <td><%= sigma.eqaresult %></td>
    <td><%= sigma.dateOfEQA %></td>
    <td><%= number_with_precision(sigma.sigmaScoreOptimal, :precision => 2)%></td>
    <td><%= number_with_precision(sigma.sigmaScoreDesirable, :precision => 2)%></td>
    <td><%= number_with_precision(sigma.sigmaScoreMinimum, :precision => 2)%></td>

    <td><%= link_to 'Show', sigma %></td>
    <td><%= link_to 'Edit', edit_sigma_path(sigma) %></td>
    <td><%= link_to 'Destroy', sigma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= button_to "New Sigma (Manual Entry)", {:action => "new"}, {:method => :get } %>
