<h1>Listing sigmas</h1>

<table>
  <tr>
    <th>Testcode</th>
    <th>Datetime</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sigmas.each do |sigma| %>
  <tr>
    <td><%= sigma.testCode %></td>
    <td><%= sigma.dateTime %></td>
    <td><%= link_to 'Show', sigma %></td>
    <td><%= link_to 'Edit', edit_sigma_path(sigma) %></td>
    <td><%= link_to 'Destroy', sigma, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Sigma', new_sigma_path %>
