<p id="notice"><%= notice %></p>

<p>
  <b>Testcode:</b>
  <%= @sigma.testCode %>
</p>

<p>
  <b>Datetime:</b>
  <%= @sigma.dateTime %>
</p>


<%= link_to 'Edit', edit_sigma_path(@sigma) %> |
<%= link_to 'Back', sigmas_path %>
