<p id="notice"><%= notice %></p>

<p>
  <b>Test Name:</b>
  <td><%= render  'common/test_code_id', :object => @sigma.test_code_id %></td>
</p>

<p>
  <b>Desirable Sigma Score:</b>
  <%= @sigma.sigmaScoreDesirable %>
</p>


<%= link_to 'Edit', edit_sigma_path(@sigma) %> |
<%= link_to 'Back', sigmas_path %>
