<div class="row">
<div id='amsqc'>
		<p>
	<table class="table table-bordered table-striped table-condensed table-hover">
  		<tr>
    		<th>AMS QC Import Status</th>
  		</tr>
  		<tr>
			<td>There are: <%= @not_imported.count %> qc records to import 
				
				<% if (@not_imported.count) > 0 %>
				<%= link_to "Import Them Now", transfer_qc_url %>
				
				</td>
				<% else %>
				</td>
				<% end%>
  		</tr>
	</table>
</div>
<div class="span6">
<%= render_chart(@chart, 'chart') %>
<div id='chart'></div>
</div>
<div class="span6">
  <b>Select test code to view performance:</b>
  	<%= form_tag("sigmaplot", :method => "post", :class => ".form-inline") do %>		
		
		<fieldset>
		<%=select("test_code_id", "id", TestCode.all.collect {|p| [ p.testExpansion, p.id ] }, {:prompt => 'Select Test'}) %>
		</fieldset>
		<%= submit_tag("View Performance", :class => "btn btn-primary") %>
	<% end %>

  <b>Select Analyser to view performance:</b>
  	<%= form_tag("sigmaplotanalyser", :method => "post", :class => ".form-inline") do %>		

		<fieldset>
		<%=select("test_code_id", "id", Analyser.all.collect {|p| [ p.AnalyserName, p.id ] }, {:prompt => 'Select Test'}) %>
		</fieldset>
		<%= submit_tag("View Performance", :class => "btn btn-primary") %>
	<% end %>
</div>
</div>