<p id="notice"><%= notice %></p>

<p>
  <b>Testcode:</b>
  <td><%= render  'common/test_code_id', :object => @quality_specification.test_code_id %></td>
</p>

<p>
  <b>Bias:</b>
  <%= @quality_specification.bias %>
</p>

<p>
  <b>Imprecision:</b>
  <%= @quality_specification.imprecision %>
</p>


<%= link_to 'Edit', edit_quality_specification_path(@quality_specification) %> |
<%= link_to 'Back', quality_specifications_path %>
