<%= form_for @test_code, :html => {:class => "form-horizontal well"}  do |f| %>
  <% if @test_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_code.errors.count, "error") %> prohibited this test_code from being saved:</h2>

      <ul>
      <% @test_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<legend>Add/Edit Test Code Details</legend>
<fieldset>
	<div class="control-group">
		<%= label_tag(:testCodeText, "Telepath Testcode", :class =>"control-label") %>
		<div class="controls">
			<%= f.text_field :testCodeText%>
		</div>
	</div>
	
	<div class="control-group">
		<%= label_tag(:testExpansion, "Test Expansion", :class =>"control-label") %>
		<div class="controls">
			<%= f.text_field :testExpansion%>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag(:notes, "Notes", :class =>"control-label") %>
		<div class="controls">
			<%= f.text_field :notes%>
		</div>
	</div>

	<div class="control-group">
		<%= label_tag(:active, "Active", :class =>"control-label") %>
		<div class="controls">
			<%= f.text_field :active%>
		</div>
	</div>

		<div class="form-actions">
			<%= f.submit :class => "btn-primary" %>
		</div>
	<fieldset>
	<% end %>
