<h2>Listing EQA schemes currently configured</h2>

<table class="table table-bordered table-striped table-condensed">
<thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Contact</th>
    <th>Website</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</thead>

<tfoot>
    	<tr>
        	<td colspan="7">EQA Schemes</td>
        
        </tr>
    </tfoot>
<% @eqa_schemes.each do |eqa_scheme| %>
  <tr>
    <td><%= eqa_scheme.name %></td>
    <td><%= eqa_scheme.address %></td>
    <td><%= eqa_scheme.contact %></td>
    <td><%= eqa_scheme.website %></td>
    <td><%= link_to 'Show', eqa_scheme, :class =>"btn btn-info btn-small" %></td>
    <td><%= link_to 'Edit', edit_eqa_scheme_path(eqa_scheme), :class => "btn btn-primary btn-small" %></td>
    <td><%= link_to 'Destroy', eqa_scheme, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</table>

<br />

<p><%= link_to "New EQA Scheme", new_eqa_scheme_path, :class =>"btn btn-primary" %></p>
