<li class="dropdown">
    <a href="" class="dropdown-toggle" data-toggle="dropdown">Configuration<b class="caret"></b></a>
    <ul class="dropdown-menu">
	  <li class="nav-header">Quality Specifications</li>
      <li><%= link_to "List Quality Specifications", quality_specifications_path%></li>
      <li><%= link_to('New Quality Specification'.html_safe, new_quality_specification_path)  %></li>
      <li class="divider"></li>
      <li class="nav-header">EQA</li>
	  <li><%= link_to('EQA Scheme Management'.html_safe, eqa_schemes_path)  %></li>
	  <li class="divider"></li>
	  <li class="nav-header">Analysers</li>
<<<<<<< HEAD
	  <li><a href="/analysers">List and Maintain Analyser on System</a></li>
	  <li><a href="/analyser_types">List and Maintain Analyser Types</a></li>
	  <li><a href="/analyser_generate">Autogenerate Analyser names from AMS files</a></li>
	  <li class="divider"></li>
      <li class="nav-header">Test Codes</li>
	  <li><a href="/test_codes">Test Code Maintenance</a>
	  <ul><a href="/test_code_imports/new">Import Test Codes</a></ul>
	  <ul><a href="/test_generate">Autogenerate Test Codes form AMS files</a></ul>
=======
	  <li><%= link_to('List and Maintain Analysers'.html_safe, analysers_path)  %></li>
	  <li><%= link_to('List and Maintain Analyser Types'.html_safe, analyser_types_path)  %></li>
	<li><%= link_to('List and Maintain Analyser Class'.html_safe, analyser_classes_path)  %></li>
	  <li class="divider"></li>
      <li class="nav-header">Test Codes</li>
	  <li><li><%= link_to('Test Code Maintenance'.html_safe, test_codes_path)  %></li>
	  <ul><li><%= link_to('Import Test Codes'.html_safe, new_test_code_import_path)  %></li></ul>
>>>>>>> 5478fb0a2d3f17f0d42e73fde44fd95a67e4df98
	  <li class="divider"></li>
	  <li class="nav-header">AMS - IQC</li>
	  <li><a href="/qc_generate">Autogenerate QC Materials from AMS files</a></li>
      <li class="divider"></li>
      <li class="nav-header">Application</li>
	  <li><%= link_to('Log Files'.html_safe, change_loggings_path)  %></li>
      <li><%= link_to('Configure EQA Forms'.html_safe, form_builders_path)  %></li>
    </ul>
  </li>