<table class="table table-bordered table-striped table-condensed table-hover">
  <tr>
    <th>Testname</th>
    <th>Analyser</th>
    <th>QC Lot</th>
	<th>QC Date</th>
	<th>QC Time</th>
	<th>Result</th>
	<th></th>
    <th></th>
    <th></th>
  </tr>

<% @imported_qcs.each do |qc| %>
  <tr>
	<td><%= qc.testname %> </td>
	<td><%= qc.analyser %> </td>
	<td><%= qc.qclot %> </td>
	<td><%= qc.qcdate %> </td>
	<td><%= qc.qctime %> </td>
	<td><%= qc.result %> </td>
	<td><%= link_to 'Edit', edit_imported_qc_path(qc), :class => "btn btn-primary btn-small" %></td>
    <td><%= link_to 'Destroy', qc, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-small" %></td>
  </tr>
<% end %>
</table>